@font-face {
  font-family: Shrek;
  src: url(../fonts/font.ttf);
}

body {
  margin: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: #222222;
  user-select: none;
}

#game {
  display: grid;

  width: 100vw;
  height: 100vh;

  grid-template-columns: 75vw 25vw;
}

#game_element {
  display: block;
  border-radius: 20px;
  position: relative;
  top: 5vh;

  width: 75vw;
  height: 45vh;

  /*background: #7F7F7F;*/
  background: linear-gradient(45deg, #7F7F7F, rgb(80,80,80));
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4), 0 3px 5px 0 rgba(0,0,0,0.4);
}

#button_holder {
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  top: 59vh;

  width: 75vw;
  height: 35vh;
}

p {
  text-align: center;
  margin: 0;
}

.button {
  display: block;
  margin: auto;

  border-radius: 25px;

  width: 90%;
  height: 80%;

  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4), 0 3px 5px 0 rgba(0,0,0,0.4);
  /* background for webkit animation */
  background: linear-gradient(45deg, #7F7F7F 33.3%, rgb(50,50,50) 33.301%, #7F7F7F 66.301%, rgb(50,50,50) 66.302%);
  background-size: 385% 100%;
  background-position: 0% 0;
}
.button_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: rgb(200,200,200);
  font-family: Shrek;
  font-size: 2em;
}
.button:hover{
  -webkit-animation: Slide .7s cubic-bezier(0,.83,.41,1) forwards;
}
.button:not( hover ){
  -webkit-animation: UnSlide .7s cubic-bezier(.68,.02,.56,.74) forwards;
}
@-webkit-keyframes Slide {
	100% {
		background-position: 20% 0%;
	}
}
@-webkit-keyframes UnSlide {
  0% {
    background-position: 20% 0%;
  }
	100% {
		background-position: 0% 0%;
	}
}

#world_data {
  display: block;
  float: right;

  width: 25vw;
  height: 100vh;
}
