body {
  margin: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: #222222;
  user-select: none;
}

#game {
  display: grid;

  width: 100vw;
  height: 100vh;

  grid-template-columns: 75vw 25vw;
}

#game_element {
  display: block;

  width: 75vw;
  height: 40vh;

  background: #7F7F7F;
}

#button_holder {
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  top: 45vh;

  width: 75vw;
  height: 55vh;
}

p {
  text-align: center;
}

.button {
  display: block;
  margin: auto;

  border-radius: 25px;

  width: 90%;
  height: 80%;

  background: #7F7F7F;
}
.button_text {
  margin: 0;
}

#world_data {
  display: block;
  float: right;

  width: 25vw;
  height: 100vh;
}
